

<script type="text/x-kendo-template" id="news-details-template">
    <h1>#= Title #</h1>
    <p class="date">#= kendo.toString(new Date(parseInt(DatePublished.substr(6))), "dd MMM HH:mm") #</p>
    <p class="author">#= Author #</p>

    # if (images) { #
        # for (var i = 0; i < images.length; i++) { #
            <img class="fullImage" src="#= images[i].iPhoneBigImageURL #"  />
        # } #
    # } #

    #= ContentHTML #
</script>

<script id="news-list-template" type="text/x-kendo-template">
    <a href="\\#test?id=#= StoryEid #">
        <div class="Story"  data-storyid="#= StoryEid #">
            #if (ImageSrc) { #
            <img class="pullImage" src="#= ImageSrc #" alt="#= Title #" />
            # } #
            <h2>#= Title #</h2>
            <p class="description">#= Description # <span class="date">#= kendo.toString(new Date(parseInt(DatePublished.substr(6))), "dd MMM HH:mm") #</span></p>
        </div>
    </a>
</script>

<script id="tpl-issues-list" type="text/x-kendo-template">

    <a data-rel="external" href="Photoswipe.html?url=#= encodeURIComponent(PagesUrl) #&totalpages=#= PagesCount #&originalwidth=#= PageWidthOriginal #">

            #if (Cover) { #
            <img src="#= Cover #" />
            # } #
            <h2>#= Feature #</h2>
            <p>#= IssueDateFormated #</p>
            <span class="date">#= kendo.toString(new Date(parseInt(IssueDate.substr(6))), "dd MMM HH:mm") #</span>

    </a>
</script>